include LICENSE
include README.rst
recursive-include innovatix/core/static *
recursive-include innovatix/core/templates *
recursive-include innovatix/geo_territories/static *
recursive-include innovatix/geo_territories/templates *
recursive-include payments/static *
recursive-include payments/templates *
recursive-include products/static *
recursive-include products/templates *
recursive-include innovatix/users/static *
recursive-include innovatix/users/templates *