{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}
{% load allauth %}

{% block head %}
    <title>{% translate "Confirmar de Email" %} - Brand</title>
{% endblock head %}

{% block card_title %}
    {% trans "Confirm Email Address" %}
{% endblock card_title %}

{% block card_content %}
{% if messages %}
    <div class="mb-4">
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    </div>
{% endif %}
{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
        <p class="mb-6">
            {% blocktrans with confirmation.email_address.email as email %}Confirme que <a class="text-blue-600 hover:text-blue-800" href="mailto:{{ email }}">{{ email }}</a> es una dirección de correo electrónico del usuario {{ user_display }}.{% endblocktrans %}
        </p>
        {% url 'account_confirm_email' confirmation.key as action_url %}
        {% element form method="post" action=action_url %}
            {% slot actions %}
                {% csrf_token %}
                <button type="submit" class="bg-purple-600 hover:bg-purple-800 text-white w-full py-2 rounded-lg mb-4">{% translate "Confirm" %}</button>
            {% endslot %}
        {% endelement %}
    {% else %}
        <p>
            {% blocktrans %}No se puede confirmar <strong>{{ email }}</strong> porque ya está confirmado por una cuenta diferente.{% endblocktrans %}
        </p>
    {% endif %}
{% else %}
    {% url 'account_email' as email_url %}
    <p>
        {% blocktrans %}Este enlace de confirmación por correo electrónico expiró o no es válido. <a class="text-blue-600 hover:text-blue-800" href="{{ email_url }}">Emita una nueva solicitud de confirmación por correo electrónico</a>.{% endblocktrans %}
    </p>
{% endif %}
{% endblock card_content %}

{% block card_footer %}
<hr class="my-5">
<div class="text-center text-sm">{% translate "¿Esta no es tu cuenta?" %} <a href="{% url 'account_login' %}"
            class="text-blue-600 hover:text-blue-800">{% translate "Iniciar Sesión" %}</a></div>
{% endblock card_footer %}