{% extends 'account/base.html' %}

{% load static %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}

{% block card_content %}
{% if messages %}
    <div class="mb-4">
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    </div>
{% endif %}
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="mb-4">
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="mb-4">
        {{ form.login }}
        {% if form.login.help_text %}
        <span class="help-text">{{ form.login.help_text }}</span>
        {% endif %}
        {% if form.login.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.login.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="mb-4">
        {{ form.password }}
        {% if form.password.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="mb-6">
        <a href="{% url 'account_reset_password' %}" class="text-blue-600 hover:text-blue-800">{% translate "¿Has olvidado tu contraseña?" %}</a>
    </div>
    <div class="mb-4">
        <label for="{{form.remember.id_for_label}}">{{form.remember.label}}</label>
        {{ form.remember }}
        {% if form.remember.help_text %}
        <span class="help-text">{{ form.remember.help_text }}</span>
        {% endif %}
        {% if form.remember.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.remember.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% if redirect_field_value %}
        <input type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}" />
    {% endif %}

    <button type="submit" class="bg-purple-600 hover:bg-purple-800 text-white w-full py-2 rounded-lg mb-4">{% translate "Iniciar Sesión" %}</button>

    <div class="text-center mb-6">{% translate "¿No tienes cuenta?" %} <a href="{% url 'account_signup' %}"
            class="text-blue-600 hover:text-blue-800">{% translate "Registrarse" %}</a></div>
</form>
{% endblock card_content %}
