{% extends 'account/base.html' %}

{% load static %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}

{% block head %}
<title>{% translate "Sign Up - Innovatix Digital" %}</title>
{% endblock head %}

{% block card_content %}
<form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="mb-4">
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="mb-4">
        {{ form.email }}
        {% if form.email.help_text %}
        <span style="font-size: 0.875em;" class="mt-1 text-zinc-500">{% translate "Introduce un correo electrónico válido." %}</span>
        <svg class="inline" data-tooltip-target="tooltip-light" data-tooltip-style="light" width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"/>
            <path d="M12 17V11" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
            <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#1C274C"/>
        </svg>

        <div id="tooltip-light" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            {{ form.email.help_text }}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        {% endif %}
        {% if form.email.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.email.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="mb-4">
        {{ form.password1 }}
        {% if form.password1.help_text %}
        <span style="font-size: 0.875em;" class="mt-1 text-zinc-500">{{ form.password1.help_text }}</span>
        {% endif %}
        {% if form.password1.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.password1.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="mb-4">
        {{ form.password2 }}
        {% if form.password2.help_text %}
        <span style="font-size: 0.875em;" class="mt-1 text-zinc-500">{{ form.password2.help_text }}</span>
        {% endif %}
        {% if form.password2.errors %}
        <div class="text-red-600 italic">
            <ul class="error-list bg-red-100 border-l-4 border-red-500 p-1">
                {% for error in form.password2.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <button type="submit" class="bg-purple-600 hover:bg-purple-800 text-white w-full py-2 rounded-lg mb-4">{% translate "Registrarse" %}</button>

    <div class="text-center mb-6">{% translate "¿Ya tiene una cuenta?" %} <a href="{% url 'account_login' %}"
            class="text-blue-600 hover:text-blue-800">{% translate "Iniciar Sesión" %}</a></div>
</form>
{% endblock card_content %}

{% block card_footer %}
<p class="mt-1 text-xs text-zinc-500">Al registrarse en la plataforma {{company_name}}, comprende y acepta nuestros <a
        class="text-blue-600 hover:text-blue-800" href="{% url "terms-conditions" %}">Términos y Condiciones</a> y
    nuestra <a class="text-blue-600 hover:text-blue-800" href="{% url "privacy" %}">Política de Privacidad</a>.</p>
{% endblock card_footer %}
