{% extends 'site/base.html' %}

{% load static %}

{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
    <title>{{membership.name}} - Site</title>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="text-center">
        {% block title %}
        <h1>Configuremos su cuenta</h1>
        <p>Completa la última información para unirte a nuetro plan y obtener los beneficios.</p>        
        {% endblock title %}
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form id="id_payment_form" method="post">
                {% csrf_token %}
                <h3>Información del Usuario</h3>
                <div class="row">
                    <div class="col-sm-9 form-text">
                        <p>{{user_info.email}}</p>
                        <p>
                            <span>{{user_info.first_name}} {{user_info.last_name}}</span>
                            <br>
                            <span>{{user_info.city}}, {{user_info.province.name}}, {{user_info.zip}}</span>
                            <br>
                            <span>{{user_info.country.name}}</span>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'products:customer-info' membership.slug %}">Editar</a>
                    </div>
                </div>

                <hr class="my-5">

                <!-- Payment Information Form -->
                <h2>Información de Pago</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="error-message" class="text-danger fst-italic mb-3">
                            <!-- Display error message to your customers here -->
                            {% if form.non_field_errors %}
                                {{ form.non_field_errors.as_text }}
                            {% endif %}
                        </div>
                    </div>
                    {{ form.payment_method_id }}
                    <div class="mb-4 col-lg-12">
                        <div class="form-floating">
                            {{form.card_name}}
                            <label class="stripe-label" for="{{form.card_name.id_for_label}}">{{form.card_name.label}}</label>
                            <div class="text-danger fst-italic">
                                <ul class="error-list">
                                    {% for error in form.card_name.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="payment-element">
                        <!-- Elements will create form elements here -->
                    </div>
                </div>
                <div class="my-4">
                    <div class="text-center">* * * * * * * *</div>
                    <p class="form-text">Al hacer clic en 'Realizar pago', confirmas que tu suscripción se renovará automáticamente y tu tarjeta de crédito será cargada automáticamente por '<strong>{{ membership.get_display_recurring_price }}</strong> + tarifa' hasta que canceles tu suscripción. También autorizas a <strong>{{company_name}}</strong> a cargar el método de pago proporcionado, u otro método de pago en archivo, por el precio de la suscripción en cada renovación. Puedes cancelar tu suscripción en cualquier momento.</p>
                    <div class="text-end">
                        <button id="id_btn_submit" class="btn" type="submit" disabled>Realizar pago</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            {% include "site/includes/membership.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const subtotal = {{subtotal}}
    const stripePublicKey = '{{pg_public_key}}'
</script>
<script src="{% static 'payments/js/checkout.js' %}?v=6"></script>
{% endblock %}
