{% extends 'site/base.html' %}
{% load static %}



{% block head %}
    <title>Payment Successful - Site</title>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">

            <div class="p-5 rounded-circle border border-primary d-inline-block">
                <i class="fas fa-check fa-4x text-primary"></i>
            </div>

            <h2 class="mt-4">Pago Exitoso!</h2>
            <p class="fs-4 text-dark fw-bold">Gracias por subscribirte</p>
            <p class="lead">Los detalles de tu subscripción se enviarán por email.</p>
            <p class="lead">De necesitar información adicional nos cumunicaremos.</p>

            <a class="btn btn-pink btn-lg mt-3" href="/"><i class="fas fa-home text-white"></i> Inicio</a>
        </div>
    </div>
</div>

<script src="client.js" defer></script>
{% endblock %}